
# exclude everything
portfolios/*
facultyannouncements/*
publicannouncements/*

# pfp exception
!portfolios/cyrus.jpg
!portfolios/dian.jpg
!portfolios/ira.jpg
!portfolios/mico.jpg

# exception to the rule
!portfolios/pog.txt 
!portfolios/nQj3sigByW0nClBcywKF3RHog92pjoInfRwJtMGc.png

# exception to publicnews images
!publicannouncements/93k2NgpNullC0n3sagOiZ9uOGJswrWb2LCbHxOp7.png
!publicannouncements/IlugZ074wqkQW8u0ykwsDs3TtGcKei1DiQSrmsZQ.jpg
!publicannouncements/jdLitRtF35M4IUgz9vrh3ncsxDfiIFrtftTVj8Mv.png


# exception to facultynews images
!facultyannouncements/2e8T5JVNVhjogOYWmjxWRqmOK59PzNVtzEldv4F1.jpg
!facultyannouncements/sO0r5sohgnMhF2SrU5fdhkdIXbZX7ouzKzJ6CRBL.png
!facultyannouncements/Gp08xZowpsIABDJ8cgFp2Ap26hUWjG7cXNuQrCz0.jpg

!.gitignore
